MONGO_URI=mongodb://mongo:27017/sentimentstream
MONGO_USER=admin
MONGO_PASS=changeme
API_KEY=changeme
JWT_SECRET=changeme
NGROK_AUTHTOKEN=
SPARK_MASTER_URL=spark://spark-master:7077
MODEL_PATH=/app/data/models/v1.0.0
BRONZE_PATH=/app/data/bronze
RAW_PATH=/app/data/raw/dataset_sentimientos_500.csv
